.place__title {
    margin: 0 auto 48px 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media all and (max-width: 900px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 300px;
    }   
}

@media all and (max-width: 740px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 32px 16px;
    }   
}