.header__lang {
    list-style: none;
    margin: auto 0 62px auto;
    display: flex;
    padding: 0;
}

@media all and (max-width: 1024px) {
    .header__lang {
        margin: auto 0 54px auto;
    }    
}